* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  border: 0;
  outline: 0;
}
input:focus {
  outline: none !important;
}
/* ::placeholder {
  color: #fff;
  opacity: 1;
} */
.back-home{
  width: 100%;
  padding: 5px 15px;
  display: flex;
  justify-content: flex-start;
  margin: 30px 0 0 10px;
}
.back-home a{
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #38c6f4;
}
.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding-top: 40px;
}

.app-title {
  color: #38c6f4;
  font-size: 42px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.app-logo {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.buttons-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 24px;
}
.book-button,
.login-button,
#submit {
  all: unset;
  background-color: #38c6f4;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 12px 0;
  transition-duration: 0.3s;
  cursor: pointer;
}

.book-button:hover,
.login-button:hover,
#submit:hover {
  background-color: #045081;
}

.add-appointment {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%;
}

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}
.form-title{
  margin-bottom: 20px;
  margin-top: 30px;
  text-align: center;
}
.input {
  border-radius: 5px;
  font-weight: 500;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid rgb(182, 181, 181);
}
#submit {
  border-radius: 5px;
  text-align: center;
}
.appointment-search-section {
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-top: 40px;
}
.search-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

}
.search-input {
  border-radius: 3px;
  height: 40px;
  border: 1px solid rgb(182, 181, 181);
  padding: 0 5px;
}


.search-button {
  all: unset;
  cursor: pointer;
  background-color: #38c6f4;
  border-radius: 3px;
  color: #fff;
  padding: 0 10px;
  height: 40px;
  width: 70px;
  text-align: center;
  font-weight: bold;
}

.appointment-card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  font-size: 20px;
}
.delete-btn{
  cursor: pointer;
  all:unset;
  color: #fff;
  padding: 2px 7px;
  border-radius: 5px;
  background-color: rgb(237, 25, 25);
  margin-top: 10px;
  align-self: center;
}
.line {
  width: 100%;
}

@media (min-width: 1200px) {
  .landing-page{
    gap: 10px;
  }
  .app-title{
    font-size: 60px;
  }
  .app-logo{
    width: 400px;
    height: 400px;
  }
  #add-appointment-form{
    width: 50%;
  }
  .back-home{
    position: absolute;
    left: 40px;
  }
}

